export(MRbarplot)
export(MRtest)
export(MRwrite)
import("SMR")
import("graphics")
import("stats")
import("utils")
importFrom("WriteXLS","WriteXLS")
importFrom("xtable","xtable")
importFrom("grDevices", "heat.colors")
